<div class="col-md-8 col-md-offset-1">
  <div class="page-header"><h1> Top 9 Contributors to <a ng-href="{{bios.objects[0].link}}">{{pname}}</a> in {{year}} </h1></div>
    <div class="row">
    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
      <div class="grid-item" ng-repeat ="contributor in contributors">
        <div class="well">
          <h3>{{contributor.name}}</a></h3>
          <p> Employees who donated: <img src="/app/assets/img/person.svg" ng-repeat="pic in number(getPicNum(contributor.total_count*1000)) track by $index" class="smallpic"></img>
            <br> Exact:  {{contributor.total_count}}
              <br>Total Amount: <img src="/app/assets/img/money.svg" ng-repeat="pic in number(getPicNum(contributor.total_amount)) track by $index" class="smallpic"></img>
              <br> Exact: {{contributor.total_amount | currency}}
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-3" ng-include="'/app/assets/templates/partials/keyTable.html'">
  </div>
